/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
    box-sizing: border-box;
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    --color-text: #272727;
    --color-background: #E7E7E7;
    --color-header: #BB973F;
    --text-color-header: #FFFFFF;
    --color-linda: #E3DC00;
    --color-vaas: #290F02;
    --color-shopping: #666F55;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: 'Tahoma', sans-serif;

    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

h2 {
    font-size: .9em;
    font-weight: 100;
}

h3 {
    font-size: .5em;
    font-weight: 600;
}

h4 {
    font-size: .75em;
    font-weight: 300;
}

img {
    height: 2em;
    width: auto;
}

video {
    height: 2em;
    width: auto;
}

/****************/
/**** HEADER ****/
/****************/

header {
    background-color: white;
    
    margin-bottom: 2.5em;
}

header nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: .5em;

    align-items: center;

    margin-bottom: 1.5em;
}

/* Images in de nav zwart */

header nav img:first-child {
    display: block;
}

/* Images in de nav wit */
header nav img:last-child {
    display: none;
}




/* Loods5 Logo */

header nav section:first-of-type {
    grid-column: 2;
    grid-row: 1;

    display: flex;
    justify-content: center;
}

header nav section:first-of-type a img {
    height: 2em;
}




/* Hamburger menu */

header nav section:nth-of-type(2) {
    grid-column: 1;
    grid-row: 1;

    display: flex;
    flex-direction: column;
}

header nav section:nth-of-type(2) button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    outline: none;
}

header nav section:nth-of-type(2) button span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--color-text);
    margin: 5px 0;
    transition: 0.5s;
}

/* Hamburger menu open */

header nav section:nth-of-type(2) div {
    display: none;
}

header nav section:nth-of-type(2) div.active {
    display: block;
}

header nav section:nth-of-type(2) div article {
    margin: 10px
}

/* Hamburger linkjes */

header nav section:nth-of-type(2) div article a {
    font-size: .75em;
}

header nav section:nth-of-type(2) div article a:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-text);
}




/* Zoekbalk */

header nav section:nth-of-type(3) {
    grid-column: span 3;
    grid-row: 2;

    display: flex;
    justify-content: center;
}

header nav section:nth-of-type(3) form {
    display: flex;
    justify-content: space-between;
    align-content: center;

    border: 1px solid var(--color-text);
    border-radius: 5em;

    padding: .5em;
    width: 100%;
    max-width: 350px;
}

header nav section:nth-of-type(3) form input {
    border: none;
    outline: none;
    background-color: transparent;

    width: 100%;
}

header nav section:nth-of-type(3) form button {
    border: none;
    background-color: transparent;
}

header nav section:nth-of-type(3) form button img {
    height: 1.5em;
}




/* Profiel, wishlist, shoppingbag */

header nav section:last-of-type {
    grid-column: 3;
    grid-row: 1;

    display: flex;
    justify-content: space-between;

    width: 5em;
    margin-left: 2em;
}

header nav section:last-of-type a img {
    height: 1.25em;
}

/*Einde nav*/




/*Header gekleurde balk*/

header > section:first-of-type {
    height: 2em;

    background-color: var(--color-header);

    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;

    color: var(--text-color-header);
}

header > section:first-of-type p {
    font-size: .75em;
}

header > section:first-of-type a {
    text-decoration: underline;
    text-transform: uppercase;
    font-size: .7em;
    font-weight: 600;

    color: var(--text-color-header);
}




/*Header scroll meubels*/

header > section:last-of-type {
    display: flex;
    overflow: auto;
    gap: 1em;

    margin: .5em 2em;

    height: 7em;
}

header > section:last-of-type article a img {
    height: 5em;
}

header > section:last-of-type article a p {
    text-align: center;
    font-size: .75em;
}












/********************/
/**** MAIN INDEX ****/
/********************/

/* Linda banner */

.home main > section:first-of-type {
    background-image: url(../images/banners/lindamobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    height: 20em;

    position: relative;

    margin-bottom: 3em;
}

.home main > section:first-of-type a p {
    text-align: center;
    text-transform: uppercase;
    font-size: .6em;
    font-weight: 600;
    color: black;

    background-color: var(--color-linda);
    padding: 1em 3em;
    border-radius: .2em;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    margin-bottom: 2.5em;
}




/* Fashion & Furniture banner */

.home main > section:nth-of-type(2) a video {
    width: 100%;
    height: 15em;
    object-fit: cover;
}

.home main > section:nth-of-type(2) a {
    position: relative;
}

.home main > section:nth-of-type(2) a article {
    position: absolute;
    bottom: 1.5em;
    left: 0;
    right: 0;

    text-align: center;
}

.home main > section:nth-of-type(2) a article img {
    max-width: 360px;
    width: 100%;
    height: auto;
    margin: 0;
}

.home main > section:nth-of-type(2) a article h2 {
    margin: 0;

    color: var(--text-color-header);
    font-size: 1.2em;
    font-weight: 100;
}

.home main > section:nth-of-type(2) a article p {
    display: inline-block;
    justify-content: center;

    text-align: center;
    text-transform: uppercase;
    font-size: .6em;
    font-weight: 600;
    color: var(--color-vaas);

    background-color: var(--color-header);
    padding: 1em 3em;
    border-radius: .2em;

    margin: 0;
    margin-top: 2.5em;
}




/* Warme kleuren */

.home main > section:nth-of-type(3){
    margin: 0em 1em;
    margin-bottom: 2.5em;
    
    text-align: center;
}

.home main > section:nth-of-type(3) h2 {
    text-align: left;
}

.home main > section:nth-of-type(3) article {
    display: flex;
    overflow: auto;
    gap: 1.5em;
}

.home main > section:nth-of-type(3) article section a img {
    height: 7em;
}

.home main > section:nth-of-type(3) article section a h3 {
    text-align: left;
    font-size: .6em;
    font-weight: 600;
    
    margin: 0;
    margin-bottom: .5em;
}

.home main > section:nth-of-type(3) article section a p {
    text-align: left;
    font-size: .6em;
    
    margin: 0;
    margin-bottom: .75em;
}

.home main > section:nth-of-type(3) article section a p:last-of-type{
    font-size: .8em;
    margin: 0;
}






/***************/
/* MEDIA QUERY */
/***************/

@media (prefers-color-scheme:dark) {
    :root {
        --color-text: #E7E7E7;
        --color-background: #272727;
    }
    
    header {
    background-color: #272727;

}

    header nav img:first-child {
        display: none;
    }

    /* Images in de nav wit */
    header nav img:last-child {
        display: block;
    }
}
