/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
    box-sizing: border-box;
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    --color-text: #272727;
    --color-background: #F9FBFB;
    --color-header: #BB973F;
    --text-color-header: #FFFFFF;
    --color-linda: #E3DC00;
    --color-vaas: #290F02;
    --color-shopping: #666F55;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: 'Tahoma', sans-serif;

    margin: 0;
    padding: 0;

    transition: all .25s linear;
}

a {
    text-decoration: none;
    color: var(--color-text);

    transition: all .25s linear;
}

h2 {
    font-size: .9em;
    font-weight: 100;

    transition: all .25s linear;
}

h3 {
    font-size: .5em;
    font-weight: 600;

    transition: all .25s linear;
}

h4 {
    font-size: .75em;
    font-weight: 300;

    transition: all .25s linear;
}

img {
    height: 2em;
    width: auto;

    transition: all .25s linear;
}

video {
    height: 2em;
    width: auto;

    transition: all .25s linear;
}

form {
    transition: all .25s linear;
}

.home main > section {
    margin-bottom: 3em;
}

p {
    font-family: 'Roboto', sans-serif;
}

.active {
    transition: all .25s linear;
}


/****************/
/**** HEADER ****/
/****************/

header {
    background-color: var(--color-background);
}

header nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: .5em;

    align-items: center;

    margin: 0 .5em 1.5em .5em;
}

/* Images in de nav zwart */

header nav img:first-child {
    display: block;
}

/* Images in de nav wit */
header nav img:last-child {
    display: none;
}




/* Loods5 Logo */

header nav section:first-of-type {
    grid-column: 2;
    grid-row: 1;

    display: flex;
    justify-content: center;
}

header nav section:first-of-type a img {
    height: 2em;
}




/* Hamburger menu */

header nav section:nth-of-type(2) button {
    grid-column: 1;
    grid-row: 1;

    background: none;
    border: none;
    padding: 10px;
    outline: none;
}

header nav section:nth-of-type(2) button span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--color-text);
    margin: 5px 0;
    transition: 0.5s;
}

header nav section:nth-of-type(2) ul {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav section:nth-of-type(2) ul li {
    margin: 10px
}

/* Hamburger linkjes */

header nav section:nth-of-type(2) ul li a {
    font-size: .75em;
}

header nav section:nth-of-type(2) ul li a:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-text);
}




/* Open Hamburger menu */

header nav.active {
    display: block;
}

header nav.active section:first-of-type {
    display: none
}

header nav.active section:nth-of-type(2) ul {
    display: contents;

    text-align: left;

    margin-bottom: 2em;
}

header nav.active section:nth-of-type(2) ul li {
    border-bottom: 1px solid #A9A9A9;

    padding-left: 1.5em;
    padding-bottom: .5em;
}

header nav.active section:last-of-type {
    display: none
}





/* Zoekbalk */

header nav section:nth-of-type(3) {
    grid-column: span 3;
    grid-row: 2;

    display: flex;
    justify-content: center;
}

header nav section:nth-of-type(3) form {
    display: flex;
    justify-content: space-between;
    align-content: center;

    border: 1px solid var(--color-text);
    border-radius: 5em;

    padding: .5em;
    width: 100%;
    max-width: 350px;
}

header nav section:nth-of-type(3) form input {
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--color-text);

    width: 100%;
}

header nav section:nth-of-type(3) form button {
    border: none;
    background-color: transparent;
}

header nav section:nth-of-type(3) form button img {
    height: 1.5em;
}




/* Profiel, wishlist, shoppingbag */

header nav section:last-of-type {
    grid-column: 3;
    grid-row: 1;

    display: flex;
    justify-content: space-between;

    width: 5em;
    margin-left: 2em;
}

header nav section:last-of-type a img {
    height: 1.25em;
}

header nav section:last-of-type a:last-of-type {
    position: relative;
}

header nav section:last-of-type a:last-of-type span {
    background-color: var(--color-shopping);
    color: var(--color-background);
    font-size: .5em;

    padding: .2em .5em;
    border-radius: 5em;

    position: absolute;
    top: -3%;
    left: 65%;
}

/*Einde nav*/




/*Header gekleurde balk*/

header > section:first-of-type {
    height: 2em;

    background-color: var(--color-header);
    color: var(--text-color-header);

    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

header > section:first-of-type p {
    font-size: .75em;
}

header > section:first-of-type a {
    text-decoration: underline;
    text-transform: uppercase;
    font-size: .7em;
    font-weight: 600;

    color: var(--text-color-header);
}




/*Header scroll meubels*/

header > section:last-of-type {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 1em;

    margin: .5em 1em 0em 1em;

    height: 8em;
}

header > section:last-of-type article a img {
    height: 5em;
}

header > section:last-of-type article a p {
    text-align: center;
    font-size: .75em;
}












/********************/
/**** MAIN INDEX ****/
/********************/

/* Linda banner */

.home main > section:first-of-type {
    background-image: url(../images/banners/lindamobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    height: 20em;

    position: relative;

    margin-top: 0;
}

.home main > section:first-of-type a p {
    text-align: center;
    text-transform: uppercase;
    font-size: .6em;
    font-weight: 600;
    color: var(--color-text);

    background-color: var(--color-linda);
    padding: 1em 3em;
    border-radius: .2em;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    margin-bottom: 2.5em;

    transition: .25s ease-in;
}

.home main > section:first-of-type a p:hover {
    background-color: #B2AB00;
    color: #F2F2F2;

    transition: .25s ease-in;
}









/* Fashion & Furniture banner */

.home main > section:nth-of-type(2) a video {
    width: 100%;
    height: 15em;
    object-fit: cover;
}

.home main > section:nth-of-type(2) a {
    position: relative;
}

.home main > section:nth-of-type(2) a article {
    position: absolute;
    bottom: 1.5em;
    left: 0;
    right: 0;

    text-align: center;
}

.home main > section:nth-of-type(2) a article img {
    max-width: 360px;
    width: 100%;
    height: auto;
    margin: 0;
}

.home main > section:nth-of-type(2) a article h2 {
    margin: 0;

    color: var(--text-color-header);
    font-size: 1.2em;
    font-weight: 100;
}

.home main > section:nth-of-type(2) a article p {
    display: inline-block;
    justify-content: center;

    text-align: center;
    text-transform: uppercase;
    font-size: .6em;
    font-weight: 600;
    color: var(--color-vaas);

    background-color: var(--color-header);
    padding: 1em 3em;
    border-radius: .2em;

    margin: 0;
    margin-top: 2.5em;

    transition: .25s ease-in;
}

.home main > section:nth-of-type(2) a article p:hover {
    color: #F2F2F2;
    background-color: #A4872E;

    transition: .25s ease-in;
}









/* Warme kleuren */

.home main > section:nth-of-type(3) {
    margin: 0em 1em;

    text-align: center;
}

.home main > section:nth-of-type(3) h2 {
    text-align: left;
}

.home main > section:nth-of-type(3) article {
    display: flex;
    overflow-x: scroll;
    gap: 1.5em;

}

.home main > section:nth-of-type(3) article section {
    position: relative;

    height: 12em;
}

.home main > section:nth-of-type(3) article section a img {
    height: 7em;
}

.home main > section:nth-of-type(3) article section a h3 {
    text-align: left;
    font-size: .6em;
    font-weight: 600;

    margin: 0;
    margin-bottom: .5em;

    position: absolute;
}

.home main > section:nth-of-type(3) article section a p {
    text-align: left;
    font-size: .6em;

    margin: 0;
    margin-bottom: .75em;
}

.home main > section:nth-of-type(3) article section a p:first-of-type {
    position: absolute;
    bottom: 8%;
}

.home main > section:nth-of-type(3) article section a p:last-of-type {
    font-size: .8em;
    margin: 0;

    position: absolute;
    bottom: 0;
}









/* In een chocoladebruin jasje / Mooiste vazen */

.home main > section:nth-of-type(4) {
    margin-top: 3em;
}

.home main > section:nth-of-type(4) > p {
    text-transform: uppercase;
    font-size: .65em;
    text-align: center;
    font-weight: 600;
}

.home main > section:nth-of-type(4) h2 {
    text-align: center;
    font-size: 1.65em;
    margin-bottom: 1em;
}



.home main > section:nth-of-type(4) > article > section:first-of-type img {
    width: 100%;
    height: auto;

    margin-bottom: 1.5em;
}

.home main > section:nth-of-type(4) > article > section:last-of-type {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 1.5em;

    margin: 0em 1em;
}

.home main > section:nth-of-type(4) > article > section:last-of-type article a img {
    height: 12em;
    width: auto;
}

.home main > section:nth-of-type(4) > article > section:last-of-type article:last-of-type a img {
    height: 3em;
    width: auto;
}

.home main > section:nth-of-type(4) > article > section:last-of-type article a p {
    text-align: left;
    text-transform: none;
}

.home main > section:nth-of-type(4) > article > section:last-of-type article a p:nth-of-type(2) {
    font-size: .5em;
}

.home main > section:nth-of-type(4) > article > section:last-of-type article a p:last-of-type {
    font-weight: 100;
    font-size: .75em;
}

.home main > section:nth-of-type(4) > article > section:last-of-type article:last-of-type {
    background-color: var(--color-vaas);

    transition: .25s ease-in;
}

.home main > section:nth-of-type(4) > article > section:last-of-type article:last-of-type:hover {
    background-color: #1A0701;

    transition: .25s ease-in;
}

.home main > section:nth-of-type(4) > article > section:last-of-type article:last-of-type a img {
    margin: 6em 4em 2em 4em
}

.home main > section:nth-of-type(4) > article > section:last-of-type article:last-of-type a img:first-of-type {
    display: none;
}

.home main > section:nth-of-type(4) > article > section:last-of-type article:last-of-type a img:last-of-type {
    display: block;
}

.home main > section:nth-of-type(4) > article > section:last-of-type article:last-of-type a p {
    text-align: center;
    color: var(--text-color-header);
    font-weight: 600;

    margin: 0em 1em;
}









/* Merken */

.home main > section:nth-of-type(5) {
    padding: .5em 1em .75em 1em;

    background-color: var(--color-background-2);

    height: 10.5em;
}

.home main > section:nth-of-type(5) article {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 1em;
}

.home main > section:nth-of-type(5) article a img {
    height: 4.75em;
}









/* Vacatures, stylist favorites, najaarstrends */

.home main > section:nth-of-type(6) {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 2em;

    margin: 0em 1em 3em;
}

.home main > section:nth-of-type(6) a p {
    text-transform: uppercase;
    font-weight: 600;
    font-size: .6em;
}

.home main > section:nth-of-type(6) a h4 {
    font-size: 1em;

    margin-top: 0;
}

.home main > section:nth-of-type(6) a video {
    height: 18em;
}

.home main > section:nth-of-type(6) a img {
    height: 18em;
}









/* Nieuw en Sale */

.home main > section:last-of-type {
    background-color: var(--color-background-2);

    margin-bottom: 0;
}

.home main > section:last-of-type > article {
    position: relative;
}

.home main > section:last-of-type > article:first-of-type {
    margin-bottom: 2em;
}

.home main > section:last-of-type > article img {
    width: 100%;
    height: auto;
}

.home main > section:last-of-type > article p {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    margin-bottom: 1em;

    border: 2px solid var(--color-text);
    padding: 15px 30px;
    border-radius: .25em;

    text-transform: uppercase;
    font-weight: 600;
    font-size: .6em;

    transition: .25s ease-in;
}

.home main > section:last-of-type > article p:hover {
    color: #F2F2F2;
    border: 2px solid #F2F2F2;

    transition: .25s ease-in;
}









/***************************/
/* MEDIA QUERY SCREEN SIZES*/
/***************************/

/* Voor Tablets en iPads */

@media only screen and (min-width: 768px) {

    .home main > section {
        margin-bottom: 7em;
    }

    /* Hamburger menu */

    header nav section:nth-of-type(2) {
        margin-left: .5em;
    }

    /* Zoekbalk */

    header nav section:nth-of-type(3) form {
        width: 100%;
        max-width: 700px;
    }



    /* Profiel, wishlist, shoppingbag */

    header nav section:last-of-type {
        grid-column: 3;
        grid-row: 1;

        display: flex;
        justify-content: space-between;

        margin-left: 10em;
    }

    header nav section:last-of-type a img {
        height: 1.25em;
    }

    /*Header scroll meubels*/

    header > section:last-of-type {
        display: flex;
        overflow-x: scroll;
        scroll-behavior: smooth;
        gap: 1em;

        margin: .5em 1em 0em 1em;

        height: 11em;
    }

    header > section:last-of-type article a img {
        height: 8em;
    }

    header > section:last-of-type article a p {
        text-align: center;
        font-size: .75em;
    }









    /* Linda banner */

    .home main > section:first-of-type {
        background-image: url(../images/banners/lindadesktop.jpg);
    }




    /* Fashion & Furniture banner */

    .home main > section:nth-of-type(2) a video {
        width: 100%;
        height: 20em;
        object-fit: cover;
    }




    /* Warme kleuren */

    .home main > section:nth-of-type(3) article {
        overflow: hidden;
    }

    .home main > section:nth-of-type(3) article section {
        position: relative;

        height: 14em;
    }

    .home main > section:nth-of-type(3) article section a img {
        height: 10em;
    }




    /* In een chocoladebruin jasje / Mooiste vazen */

    .home main > section:nth-of-type(4) {
        margin-top: 7em;
    }

    .home main > section:nth-of-type(4) p {
        text-transform: uppercase;
        font-size: .65em;
        text-align: center;
        font-weight: 600;
    }

    .home main > section:nth-of-type(4) h2 {
        text-align: center;
        font-size: 1.65em;
        margin-bottom: 1em;
    }

    .home main > section:nth-of-type(4) > article > section:first-of-type img {
        width: 100%;
        height: auto;

        margin-bottom: 1.5em;
    }

    .home main > section:nth-of-type(4) > article > section:last-of-type {
        height: 32.4em;

        display: grid;
        grid-template-columns: 3;
        grid-template-rows: 2;

        overflow: hidden;

        margin: 0em 1em;
    }

    .home main > section:nth-of-type(4) > article > section:last-of-type > article:first-of-type {
        grid-column: 1;
        grid-row: 1;
    }

    .home main > section:nth-of-type(4) > article > section:last-of-type > article:first-of-type {
        grid-column: 2;
        grid-row: 1;
    }

    .home main > section:nth-of-type(4) > article > section:last-of-type > article:first-of-type {
        grid-column: 3;
        grid-row: 1;
    }

    .home main > section:nth-of-type(4) > article > section:last-of-type > article:first-of-type {
        grid-column: 1;
        grid-row: 2;
    }

    .home main > section:nth-of-type(4) > article > section:last-of-type > article:first-of-type {
        grid-column: 2;
        grid-row: 2;
    }

    .home main > section:nth-of-type(4) > article > section:last-of-type > article:last-of-type {
        grid-column: 3;
        grid-row: 2;
    }




    /* Merken */

    .home main > section:nth-of-type(5) {
        padding: 3.5em 1em 3.75em 1em;

        background-color: var(--color-background-2);

        height: 15.5em;
    }

    .home main > section:nth-of-type(5) article a img {
        height: 5.75em;
    }




    /* Vacatures, stylist favorites, najaarstrends */

    .home main > section:nth-of-type(6) a video {
        height: 22em;
    }

    .home main > section:nth-of-type(6) a img {
        height: 22em;
    }




    /* Nieuw en Sale */

    .home main > section:last-of-type {
        display: flex;
        gap: 2em;

        height: 15em;
    }

    .home main > section:last-of-type > article {
        margin-top: 3em;
    }

    .home main > section:last-of-type > article:first-of-type p {
        bottom: -5%;

        margin-bottom: 0em;
    }

    .home main > section:last-of-type > article:last-of-type p {
        bottom: 15%;

        margin-bottom: 0em;
    }
}









/* Voor Laptops en Desktops */

@media only screen and (min-width: 992px) {

    header nav {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: .5em;
    }

    /* Hamburger menu */

    header nav section:nth-of-type(2) button {
        display: none;
    }

    header nav section:nth-of-type(2) ul {
        display: flex;
        gap: .5em;
    }


    /* Zoekbalk */

    header nav section:nth-of-type(3) form {
        width: 450px;
    }


    /* Profiel, wishlist, shoppingbag */

    header nav section:last-of-type {
        margin: 0;
    }

    /*Header scroll meubels*/

    header > section:last-of-type {
        gap: 1.75em;

        height: 14.5em;
    }

    header > section:last-of-type article a img {
        height: 10.5em;
    }









    /* Linda banner */

    .home main > section:first-of-type {
        background-image: url(../images/banners/lindadesktop.jpg);

        height: 30.5em;
    }









    /* Fashion & Furniture banner */

    .home main > section:nth-of-type(2) a video {
        height: 32em;
    }









    /* Warme kleuren */

    .home main > section:nth-of-type(3) article {
        overflow-x: hidden;

        justify-content: center;
        gap: 1.75em;

    }

    .home main > section:nth-of-type(3) article section {
        height: 18em;
    }

    .home main > section:nth-of-type(3) article section a img {
        height: 12em;
    }









    /* In een chocoladebruin jasje / Mooiste vazen */

    .home main > section:nth-of-type(4) > article {
        display: flex;
        gap: 3em;
    }

    .home main > section:nth-of-type(4) > article > section:first-of-type img {
        height: 32em;
    }

    .home main > section:nth-of-type(4) > article > section:last-of-type article a img {
        height: 10.4em;
        width: auto;
    }

    .home main > section:nth-of-type(4) > article > section:last-of-type {
        height: 32em;

        column-gap: 3.5em;
    }












    /* Merken */

    .home main > section:nth-of-type(5) {
        padding: .5em 1em .75em 1em;

        height: 10.5em;
    }

    .home main > section:nth-of-type(5) article a img {
        height: 5.5em;
    }









    /* Vacatures, stylist favorites, najaarstrends */

    .home main > section:nth-of-type(6) {
        display: flex;
        justify-content: center;
        overflow: hidden;
        gap: 4.5em;
    }

    .home main > section:nth-of-type(6) a video {
        height: 22em;
    }

    .home main > section:nth-of-type(6) a img {
        height: 22em;
    }









    /* Nieuw en Sale */

    .home main > section:last-of-type {
        height: 25em;
        justify-content: center;
        align-content: center;
        align-items: center;
    }


    .home main > section:last-of-type > article {
        margin: 0em 3em;
    }

    .home main > section:last-of-type > article p {
        position: absolute;
    }

    .home main > section:last-of-type > article:first-of-type p {
        bottom: 10%;
    }

    .home main > section:last-of-type > article:last-of-type p {
        bottom: 10%;
    }
}



















/**********************/
/**** MAIN PRODUCT ****/
/**********************/

/* Terug, Breadcrumbs en Merk */

.product main > section:first-of-type {
    display: flex;
    gap: 2em;

    border: .5px solid var(--color-text);
    background-color: var(--color-background);

    margin-bottom: 3em;
}

.product main > section:first-of-type > article img:first-of-type {
    display: block;
}

.product main > section:first-of-type > article img:last-of-type {
    display: none;
}




/* Terug */

.product main > section:first-of-type > article:first-of-type {
    border-right: .5px solid var(--color-text);
    border-right-color: solid var(--color-text);
}

.product main > section:first-of-type > article:first-of-type a {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    padding: 0em 1em;
}

.product main > section:first-of-type > article:first-of-type a img {
    margin: 0;
}

.product main > section:first-of-type > article:first-of-type a p {
    margin-right: .5em;
}




/* Breadmcrumbs */

.product main > section:first-of-type > article:nth-of-type(2) {
    display: none;
}




/* Merk */

.product main > section:first-of-type > article:last-of-type {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.product main > section:first-of-type > article:last-of-type p:first-of-type {
    display: none;
}









/* Caroussel */

.product main > div > section:first-of-type {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    white-space: nowrap;

    gap: 1.5em;

    max-width: 375px;
    max-height: 375px;
}

.product main > div > section:first-of-type::-webkit-scrollbar {
    width: 0;
}

.product main > div > section:first-of-type img {
    flex: 0 0 100%;

    height: 100%;
    width: 375px;

    overflow: hidden;

    transition: all 0.5s ease;
}

.product main > div > section:first-of-type img:last-of-type {
    height: 375px;
    width: 100%;
}









/* Info en Kenmerken */

.product main > div > section:last-of-type {
    margin: 3em 1em 0em 1em;
}

/* Titel */

.product main > div > section:last-of-type > article:first-of-type a {
    text-decoration: underline;
}

.product main > div > section:last-of-type > article:first-of-type a p {
    font-size: .85em;
    font-weight: 400;

    margin-bottom: .2em
}

.product main > div > section:last-of-type > article:first-of-type h1 {
    font-weight: 100;
    font-size: 1.25em;

    margin: .2em 0em;
}

.product main > div > section:last-of-type > article:first-of-type p {
    font-weight: 700;
    font-size: 1.25em;

    margin: .8em 0em;
}




/* Winkelwagen */

.product main > div > section:last-of-type > article:nth-of-type(2) {
    background-color: var(--color-shopping);
    border-radius: 3px;

    padding: .4em 1.5em;
    margin-top: 4em;

    color: var(--text-color-header);
    text-transform: uppercase;
    font-weight: 600;
    font-size: .75em;
    text-align: center;
    letter-spacing: 0.1em;

    transition: .25s ease-in;
}

.product main > div > section:last-of-type > article:nth-of-type(2):hover {
    background-color: #494F36;

    transition: .25s ease-in;
}




/* Info */

.product main > div > section:last-of-type > article:nth-of-type(3) {
    font-size: .75em;
}




/* Kenmerken */

.product main > div > section:last-of-type > article:last-of-type h2 {
    font-size: .75em;
    font-weight: 600;
    line-height: 1.7em;
}

.product main > div > section:last-of-type > article:last-of-type ul {
    line-height: .65em;
}

.product main > div > section:last-of-type > article:last-of-type ul li {
    font-size: .75em;
}









/* Omschrijving, Specificaties en Afmetingen */

.product main > section:nth-of-type(2) {
    margin: 3em 1em 0em 1em;
}




/* Omschrijving */

.product main > section:nth-of-type(2) > article:first-of-type h2 {
    font-size: .75em;
    font-weight: 600;
    line-height: 1.7em;
}

.product main > section:nth-of-type(2) > article:first-of-type p {
    font-size: .75em;
    line-height: 1.7em;

    font-family: 'Roboto', sans-serif;
}

.product main > section:nth-of-type(2) > article:first-of-type p a {
    text-decoration: underline;
    text-decoration-color: #A9A9A9;
}




/* Specificaties */

.product main > section:nth-of-type(2) > article:nth-of-type(2) {
    border: .1px solid var(--color-text);
    border-radius: 5px;
    padding: 8px;
    height: 3em;

    margin-top: 2em;

    transform: rotate(0deg);
    transition-duration: 0.25s;
}

.product main > section:nth-of-type(2) > article:nth-of-type(2) div {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.product main > section:nth-of-type(2) > article:nth-of-type(2) div h2 {
    font-size: .75em;
    font-weight: 600;

    margin: 0;
}

.product main > section:nth-of-type(2) > article:nth-of-type(2) div img:first-of-type {
    display: block;
    transform: rotate(0deg);
    transition-duration: 0.25s;
}

.product main > section:nth-of-type(2) > article:nth-of-type(2) div img:last-of-type {
    display: none;
}

.product main > section:nth-of-type(2) > article:nth-of-type(2) ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
}

.product main > section:nth-of-type(2) > article:nth-of-type(2) ul li {
    font-size: .75em;
    line-height: 3em;

    display: flex;
    justify-content: space-between;

    display: none;
}

.product main > section:nth-of-type(2) > article:nth-of-type(2) ul li:first-of-type {
    grid-column: 1;
    grid-row: 1;
}

.product main > section:nth-of-type(2) > article:nth-of-type(2) ul li:nth-of-type(2) {
    grid-column: 1;
    grid-row: 2;
}

.product main > section:nth-of-type(2) > article:nth-of-type(2) ul li:last-of-type {
    grid-column: 1;
    grid-row: 3;
}




/* Open Specificaties */

.product main > section:nth-of-type(2) > article:nth-of-type(2).active {
    height: auto;
}

.product main > section:nth-of-type(2) > article:nth-of-type(2).active div,
.product main > section:nth-of-type(2) > article:nth-of-type(2).active ul li:first-of-type,
.product main > section:nth-of-type(2) > article:nth-of-type(2).active ul li:nth-of-type(2) {
    border-bottom: 1px solid #A9A9A9;
}

.product main > section:nth-of-type(2) > article:nth-of-type(2).active div img:first-of-type {
    transform: rotate(180deg);
    transition-duration: 0.25s;
}



.product main > section:nth-of-type(2) > article:nth-of-type(2).active ul li {
    display: flex;
    justify-content: space-between;
}









/* Afmetingen */

.product main > section:nth-of-type(2) > article:last-of-type {
    border: .1px solid var(--color-text);
    border-radius: 5px;
    padding: 8px;
    height: 3em;

    margin-top: 2em;

    transform: rotate(0deg);
    transition-duration: 0.25s;
}

.product main > section:nth-of-type(2) > article:last-of-type div {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.product main > section:nth-of-type(2) > article:last-of-type div h2 {
    font-size: .75em;
    font-weight: 600;

    margin: 0;
}

.product main > section:nth-of-type(2) > article:last-of-type div img:first-of-type {
    display: block;
    transform: rotate(0deg);
    transition-duration: 0.25s;
}

.product main > section:nth-of-type(2) > article:last-of-type div img:last-of-type {
    display: none;
}

.product main > section:nth-of-type(2) > article:last-of-type ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
}

.product main > section:nth-of-type(2) > article:last-of-type ul li {
    font-size: .75em;
    line-height: 3em;

    display: flex;
    justify-content: space-between;

    display: none;
}

.product main > section:nth-of-type(2) > article:last-of-type ul li:first-of-type {
    grid-column: 1;
    grid-row: 1;
}

.product main > section:nth-of-type(2) > article:last-of-type ul li:nth-of-type(2) {
    grid-column: 1;
    grid-row: 2;
}

.product main > section:nth-of-type(2) > article:last-of-type ul li:last-of-type {
    grid-column: 1;
    grid-row: 3;
}




/* Open Afmetingen */

.product main > section:nth-of-type(2) > article:last-of-type.active {
    height: auto;
}

.product main > section:nth-of-type(2) > article:last-of-type.active div,
.product main > section:nth-of-type(2) > article:last-of-type.active ul li:first-of-type,
.product main > section:nth-of-type(2) > article:last-of-type.active ul li:nth-of-type(2) {
    border-bottom: 1px solid #A9A9A9;
}

.product main > section:nth-of-type(2) > article:last-of-type.active div img:first-of-type {
    transform: rotate(180deg);
    transition-duration: 0.25s;
}



.product main > section:nth-of-type(2) > article:last-of-type.active ul li {
    display: flex;
    justify-content: space-between;
}









/* Foto en Info HKliving */

/* Foto */

.product main > section:last-of-type > img {
    margin-top: 2em;

    width: 100%;
    height: auto;
}




/* Info HKliving */

.product main > section:last-of-type > article {
    margin: 3em 2em 0em 2em;
}

.product main > section:last-of-type > article h2 {
    font-size: .75em;
    font-weight: 600;
    line-height: 1.7em;
}

.product main > section:last-of-type > article p {
    font-size: .75em;
    line-height: 1.7em;
}

.product main > section:last-of-type > article a p {
    text-transform: uppercase;
    border: .1px solid var(--color-text);
    padding: 5px;
    border-radius: 3px;

    width: 8em;

    font-size: .7em;
    letter-spacing: 1px;
    text-align: center;

    margin-top: 2em;

    transition: .25s ease-in;
}

.product main > section:last-of-type > article a p:hover {
    background-color: #121212;
    color: #FCFCFC;
    border: .1px solid #121212;

    transition: .25s ease-in;
}









/***************************/
/* MEDIA QUERY SCREEN SIZES*/
/***************************/

/* Voor Tablets en iPads */

@media only screen and (min-width: 768px) {

    /* Terug, Breadcrumbs en Merk */

    .product main > section:first-of-type {
        display: grid;
        grid-template-columns: 15% 70% 15%;
        gap: 1em;

        font-size: .75em;
    }




    /* Terug */

    .product main > section:first-of-type > article:nth-of-type(1) {
        grid-column: 1;

        margin: 0;
        padding: 0;
    }



    /* Breadmcrumbs */

    .product main > section:first-of-type > article:nth-of-type(2) {
        display: block;
        grid-column: 2;

        margin: 0;
        padding: 0;
    }

    .product main > section:first-of-type > article:nth-of-type(2) ul {
        display: flex;
        justify-content: flex-start;
        gap: 2em;


        list-style-type: none;

        margin: 0;
        padding: 0;
    }

    .product main > section:first-of-type > article:nth-of-type(2) ul li {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }




    /* Merk */

    .product main > section:first-of-type > article:last-of-type {
        grid-column: 3;

        margin: 0;
        padding: 0;

        border-left: .5px solid var(--color-text);
        border-left-color: solid var(--color-text);
    }

    .product main > section:first-of-type > article:last-of-type p:first-of-type {
        display: block;

        margin: 0;
        margin-left: -2em;
        padding: 0;
    }




    /* Winkelmandje */

    .product main > div > section:last-of-type > article:nth-of-type(2) {
        width: 30em;
    }









    /* Caroussel, Titel, Winkelwagen, Kenmerken & Info en Kenmerken */

    .product main > div {
        display: grid;
        grid-template-columns: 1fr 1.25fr;
        column-gap: 0;

        background-color: var(--color-background);
        padding: .5em 0 .5em 0;
    }


    /*     Caroussel */

    .product main > div > section:first-of-type {
        grid-column: 1;

        margin: 2.5em 0 0 0;
        padding: 0;

        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        width: 100%;
        white-space: nowrap;

        gap: 1.5em;

        max-width: 375px;
        max-height: 375px;
    }

    .product main > div > section:first-of-type img {
        margin: 0;
        padding: 0;
    }

    .product main > div > section:last-of-type {
        border-left: .5px solid var(--color-text);
        border-left-color: solid var(--color-text);

        margin: 0 1em 0 0;
        padding-left: .75em;
        padding-bottom: 1.5em;

    }

    .product main > section:last-of-type article br:last-of-type {
        display: none;
    }
}














/* Desktop */

@media only screen and (min-width: 992px) {

    /* Terug, Breadcrumbs en Merk */

    .product main > section:first-of-type {
        grid-template-columns: 15% 55% 15%;
    }




    /* Winkelmandje */

    .product main > div > section:last-of-type > article:nth-of-type(2) {
        width: 30em;
    }





    /* Caroussel */

    .product main > div > section:first-of-type {
        display: flex;
        overflow-x: auto;
        width: 100%;
        white-space: nowrap;
        gap: 1.5em;
        max-width: 375px;
        max-height: 375px;
        margin-left: 8em;
    }

    .product main > div > section:first-of-type > div {
        flex: 0 0 auto;
    }

    .product main > div > section:first-of-type::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, .1);
        border-radius: 1em;
    }

    .product main > div > section:first-of-type::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, .25);
    }




    /* Omschrijving, Specificaties en Afmetingen */

    .product main > section:nth-of-type(2) {
        margin-right: 18em;
        margin-left: 18em;
    }




    /* Specificaties */

    .product main > section:nth-of-type(2) > article:nth-of-type(2) {
        border: none;
        height: auto;

    }

    .product main > section:nth-of-type(2) > article:nth-of-type(2) div img:first-of-type {
        display: none;
    }

    .product main > section:nth-of-type(2) > article:nth-of-type(2) ul li {
        display: block;
        border-bottom: 1px solid #A9A9A9;

        display: flex;
        justify-content: space-evenly;
    }





    /* Afmetingen */

    .product main > section:nth-of-type(2) > article:last-of-type {
        border: none;
        height: auto;
    }

    .product main > section:nth-of-type(2) > article:last-of-type div img:first-of-type {
        display: none;
    }

    .product main > section:nth-of-type(2) > article:last-of-type ul li {
        display: block;
        border-bottom: 1px solid #A9A9A9;

        display: flex;
        justify-content: space-evenly;
    }











    /* Foto en Info */

    .product main > section:last-of-type {
        display: flex;
        align-content: center;
        align-items: center;
        overflow-x: auto;
        width: 100%;
    }

    .product main > section:last-of-type img {
        height: 28em;
        width: auto;
    }

    .product main > section:last-of-type article {
        margin-left: 5em;

        width: 38em;

        font-size: .85em;
        margin-bottom: 0;
    }

    .product main > section:last-of-type article > p {
        margin-bottom: 5.5em;
    }

    .product main > section:last-of-type article > p br:first-of-type {
        display: none;
    }
}









/************************/
/* MEDIA QUERY DARK MODE*/
/************************/

@media (prefers-color-scheme:dark) {
    :root {
        --color-text: #EDEDED;
        --color-background: #121212;
        --color-header: #BB973F;
        --text-color-header: #FFFFFF;
        --color-linda: #E3DC00;
        --color-vaas: #290F02;
        --color-shopping: #666F55;
    }

    header nav img:first-child {
        display: none;
    }

    /* Images in de nav wit */
    header nav img:last-child {
        display: block;
    }
}
